<% unless @code %>
  <form method="get" action="<%= Webhooks::AUTHORIZE_URL %>">
    <div class="form-group">
      <h5>Step 1: Authorize</h5>

      <input type="hidden" name="response_type" value="code">
      <input type="hidden" name="client_id" value="<%= Webhooks::CONFIG.client_id %>">
      <input type="hidden" name="scope" value="webhook.incoming">
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Create Webhook</button>
    </div>
  </form>
<% else %>
  <form method="post" action="/">
    <div class="form-group">
      <h5 class="pb-2">Step 2: Customize</h5>
      <% @categories.each do |category, value| %>
        <div class="form-check">
          <label class="form-check-label" for="<%= category %>">
            <input class="form-check-input" type="checkbox" id="<%= category %>"
                   name="categories[<%= category %>]" value="1" <%= 'checked' if value == '1' %>>
            <%= category.capitalize %>
          </label>
        </div>
      <% end %>

      <input type="hidden" name="code" value="<%= @code %>">
    </div>

    <div class="text-center">
      <a href="/" class="btn btn-info">Go back</a>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </div>
  </form>
<% end %>
