<h2 class="text-center mt-2"><%= t('subscribe.title') %></h2>

<div class="row mt-3">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <% %w(en fr de).each do |locale| %>
        <%= link_to locale_set_path(locale: locale), class: 'mx-2' do %>
          <%= image_tag("#{locale}.png") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-5 offset-lg-1">
    <div class="card shadow mt-3">
      <div class="card-header">
        <h5 class="mb-0"><%= t('subscribe.discord') %></h5>
      </div>
      <div class="card-body">
        <%= form_with(url: subscribe_webhook_path, local: true, class: 'form') do |f| %>
          <div class="form-group">
            <%= f.label :locale, t('subscribe.region') %>
            <%= f.select :locale, locale_options(cookies[:locale]), {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag nil, t('subscribe.categories'), class: 'mb-0' %>
            <% Lodestone.categories.each do |category| %>
              <div class="form-check ml-3">
                <%= check_box_tag category, '1', params[category] == '1', class: 'form-check-input' %>
                <%= f.label category, t("categories.#{category}"), class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
          <div class="text-center">
            <%= f.submit t('subscribe.submit'), class: 'btn discord' %>
            <p class="my-2"><%= t('subscribe.permission').html_safe %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <div class="d-flex flex-column">
      <div class="card shadow mt-3">
        <div class="card-header">
          <h5 class="mb-0"><%= t('subscribe.rss') %></h5>
        </div>
        <div class="card-body pb-3">
          <%= form_with(url: subscribe_feed_path, local: true, class: 'form') do |f| %>
            <div class="form-group">
              <%= f.label :locale, t('subscribe.region') %>
              <%= f.select :locale, locale_options(cookies[:locale]), {}, class: 'form-control' %>
            </div>
            <div class="text-center">
              <%= f.submit t('subscribe.submit'), class: 'btn rss' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card shadow mt-3">
      <div class="card-header">
        <h5 class="mb-0"><%= t('subscribe.application') %></h5>
      </div>
      <div class="card-body pb-3">
        <p><%= t('subscribe.integration') %></p>
        <div class="text-center">
          <%= link_to t('social.github'), docs_path, class: 'btn github', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="text-center">
      <%= link_to t('social.discord'), 'https://discord.gg/UG3bDKawfJ', class: 'btn discord mt-2', target: '_blank' %>
      <%= link_to t('social.patreon'), 'https://www.patreon.com/raelys', class: 'btn patreon mt-2', target: '_blank' %>
    </div>
  </div>
</div>
