<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="D9912B">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>FFXIV Lodestone News</title>
    <meta property="og:title" content="FFXIV Lodestone News">
    <meta name="description"
          content="Automatic Lodestone updates for your Discord server. Available for all Lodestone regions." />
    <meta property="og:description"
          content="Automatic Lodestone updates for your Discord server. Available for all Lodestone regions.">
    <meta property="og:image" content="<%= image_path('logo.png', skip_pipeline: true) %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main role="main" class="container<%= ' ja' if I18n.locale == :ja %>">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </main>

    <footer class="text-center">
      <span class='d-block d-sm-inline'>Created by Raelys Skyborn of Behemoth</span>
      <span class="d-none d-sm-inline"> | </span>
      <div class="d-block d-sm-inline">
        <%= link_to 'https://discord.gg/UG3bDKawfJ', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('discord.png', class: 'social') %>
        <% end %>
        <%= link_to 'https://github.com/skyborn-industries/lodestone', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('github.png', class: 'social') %>
        <% end %>
        <%= link_to 'https://www.patreon.com/raelys', class: 'unstyled', target: '_blank' do %>
          <%= image_tag('patreon.png', class: 'social') %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
